{% extends "site_legal_e_bacana/modelo.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block conteudo%}
     <style>
     h1{
            font-family: Comic Sans MS;
        }
    </style>

    <h1 id="titulo">MEUS CONTATOS:</h1>
    <br>
    <ul>
        <p>Nehum, usa sinal de fumaça</p>
    </ul>


     <script>
function corAleatoria() {
    let r = Math.floor(Math.random()*256);
    let g = Math.floor(Math.random()*256);
    let b = Math.floor(Math.random()*256);
    return `rgb(${r},${g},${b})`;
}

document.getElementById("titulo").style.color = corAleatoria();
</script>
    {%endblock conteudo%}
</body>
</html>