{% extends "site_legal_e_bacana/modelo.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título legal</title>
    <link rel="stylesheet" href="{% static "css/estilo.css" %}">
    


       
</head>
<body>

    {%block conteudo%}

    <style>
     h1{
            font-family: Comic Sans MS;
        }

    
     #dvd{
            position:absolute;
     }

     
    </style>


    <h1 id="titulo">Título Épico</h1>
    <p id="dvd" style="font-size: 50px">💿</p>

   

    <script>
function corAleatoria() {
    let r = Math.floor(Math.random()*256);
    let g = Math.floor(Math.random()*256);
    let b = Math.floor(Math.random()*256);
    return `rgb(${r},${g},${b})`;
}

document.getElementById("titulo").style.color = corAleatoria();


const dvd = document.getElementById("dvd");

let x = 100;
let y = 100;

let vx = 3;
let vy = 3;

let rot = 0;

function animar(){

    x += vx;
    y += vy;

    rot += 5

    const larguraTela = window.innerWidth;
    const alturaTela = window.innerHeight;

    const larguraElemento = dvd.offsetWidth;
    const alturaElemento = dvd.offsetHeight;

    if(x + larguraElemento >= larguraTela-15 || x <= 0){
        vx = -vx;
        dvd.style.color = "hsl(" + Math.random()*360 + "deg,100%,50%)";
        
    }

    if(y + alturaElemento >= alturaTela-10 || y <= 0){
        vy = -vy;
        dvd.style.color = "hsl(" + Math.random()*360 + "deg,100%,50%)";
        
    }

    dvd.style.left = x + "px";
    dvd.style.top = y + "px"; 
    dvd.style.transform = "rotate(" + rot + "deg)";

    requestAnimationFrame(animar);
    
}

animar();
</script>

    <table class="table table-striped table-hover comic">

    <thead>
        <tr>
            <th>Ação a Ser Feita</th>
            <th>Opções</th>
        </tr>
    </thead>

    <tbody>

        <tr>

            <td>Eventos</td>

            <td>
                <a class="comic linhazinha" href="{% url 'eventos_create' %}">Criar</a> &emsp;

                <a class="comic linhazinha" href="{% url 'eventos_listar' %}">
                    Listar
                </a> &emsp;

            </td>


        </tr>
        <tr>

            <td>Subtarefas</td>

            <td>
                <a class="comic linhazinha" href="{% url 'subtarefas_create' %}">Criar</a> &emsp;

                <a class="comic linhazinha" href="{% url 'subtarefas_listar' %}">
                    Listar
                </a> &emsp;

            </td>


        </tr>
        <tr>

            <td>Lembretes</td>

            <td>
                <a class="comic linhazinha" href="{% url 'lembretes_create' %}">Criar</a> &emsp;

                <a class="comic linhazinha" href="{% url 'lembretes_listar' %}">
                    Listar
                </a> &emsp;

            </td>


        </tr>
        <tr>

            <td>Anexos</td>

            <td>
                <a class="comic linhazinha" href="{% url 'anexos_create' %}">Criar</a> &emsp;

                <a class="comic linhazinha" href="{% url 'anexos_listar' %}">
                    Listar
                </a> &emsp;

            </td>


        </tr>
        <tr>

            <td>Participantes</td>

            <td>
                <a class="comic linhazinha" href="{% url 'participantes_create' %}">Criar</a> &emsp;

                <a class="comic linhazinha" href="{% url 'participantes_listar' %}">
                    Listar
                </a> &emsp;

            </td>


        </tr>

    </tbody>

</table>

   {%endblock conteudo%} 
</body>
</html>