{% extends "site_legal_e_bacana/modelo.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Alterar senha
{% endblock titulo %}

{% block conteudo %}
<section class="py-5 py-lg-6">
  <div class="container">
    <h3 class="text-center border-bottom pb-2 mb-4">Alterar senha</h3>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Salvar nova senha</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock conteudo %}
