{% extends "site_legal_e_bacana/modelo.html" %}

{% load static %}

{% block titulo %}
Senha alterada
{% endblock titulo %}

{% block conteudo %}
<section class="py-5 py-lg-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card p-4">
          <h3 id="titulo" class="text-center border-bottom pb-2 mb-4 comic">Senha alterada com sucesso</h3>
          <p>Sua senha foi atualizada.</p>
          <a class="btn btn-primary" href="{% url 'Le_Start' %}">Voltar ao início</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock conteudo %}
