{% extends "site_legal_e_bacana/modelo.html" %}
{% load static %}

{% block conteudo %}

<div class="container">

<h1 id="titulo">LISTA DE EVENTOS</h1>



<table class="table table-striped table-hover comic" style="margin-top: 20px;">

    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
            <th>Tempo Restante</th>
        </tr>
    </thead>

    <tbody>

    {% for evento in object_list %}
        <tr>

            <td>{{ evento.Evento_nome }}</td>

            <td>
                <a class="comic linhazinha" href="{% url "eventos_ver" evento.pk %}">Ver</a> &emsp;

                <a class="comic linhazinha" href="{% url "eventos_update" evento.pk %}">
                    Corrigir seus Erros
                </a> &emsp;

                <a class="comic linhazinha" href="{% url "eventos_delete" evento.pk %}">
                    APAGAR
                </a>
            </td>

            <td>    
                    {% if evento.dias > 0 %}
                    <span class="treme" style= "color : green">Faltam {{ evento.dias }} dias</span>

                    {% elif evento.dias < 0 %}
                    <span class="treme" style= "color : red">Passou {{ evento.dias|add:"-1" }} dias</span>

                    {% else %}
                    <span class="treme" style= "color : rgb(0, 136, 182)">Acabou seu tempo</span>
                    {% endif %}



            </td>

        </tr>
    {% endfor %}

    

    </tbody>

</table>

 <a class="comic linhazinha" href="{% url 'eventos_create' %}" style="border: 2px solid #00aeff; font-size: 30px">Criar</a> &emsp;

</div>

<script>
function corAleatoria() {
    let r = Math.floor(Math.random()*256);
    let g = Math.floor(Math.random()*256);
    let b = Math.floor(Math.random()*256);
    return `rgb(${r},${g},${b})`;
}

document.getElementById("titulo").style.color = corAleatoria();
</script>

{% endblock conteudo %}