{% extends "site_legal_e_bacana/modelo.html" %}

{% block conteudo %}

<div class="container">

    <h1>{{ object.Evento_nome }}</h1>

    <hr>

    <p>
        <strong>Matéria:</strong>
        {{ object.Evento_materia }}
    </p>

    <p>
        <strong>Tipo:</strong>
        {{ object.Evento_tipo }}
    </p>

    <p>
        <strong>Entrega:</strong>
        {{ object.Evento_entrega }}
    </p>

    <p>
        <strong>Descrição:</strong>
        {{ object.Evento_descricao }}
    </p>

    <a href="{% url 'eventos_listar' %}" class="btn btn-primary">
        Voltar
    </a>

</div>

{% endblock conteudo %}