{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título legal</title>
    <link rel="stylesheet" href="{% static "css/estilo.css" %}">
    
    <style>

        #myDIV {
        width: device-width;
        height: 100px;
        background: red;
        animation: mymove 5s infinite;
}

        h1{
            font-family: Comic Sans MS;
        }

        @keyframes mymove {
        from {background-color: red;}
        to {background-color: blue;}
}

    </style>
</head>
<body>

    <div id="myDIV"></div>

    <h1>Título Épico</h1>
    <p>Tiriguidiguidum </p>

    <ul>
        <li><a href="{% url "sobre" %}">Sobre Nois</a></li>
        <li><a href="{% url "contatos" %}">Contatos com o criador</a></li>

    </ul>
    
</body>
</html>